<nav class="home_nav">
  <div class="container">
    <ul>
      <li><a href="#about_me">Über mich </a></li>
      <!-- <li>Brand <i class="fa fa-sort-desc" aria-hidden="true"></i>
            <ul class="branch">
              <li>One 1 One 1 One 1</li>
              <li>One 1 One 1 One 1</li>
              <li>One 1 One 1 One 1</li>
            </ul>
          </li> -->

      <li class="brand">
        <a href="#contact_me">Kontaktiere mich </a>
        <i class="fa fa-user" aria-hidden="true"></i>
      </li>
    </ul>
  </div>
</nav>

<div class="home_bg">
  <div class="home_title image">
    <h1>Lebenslauf</h1>
    <p>Lies über mich ein paar Infos</p>
  </div>
</div>
<div class="home_info">
  <div id="about_me" class="info_data">
    <div class="container">
      <h1>Über mich</h1>
      <div class="">
        <p>
          Ich bin Emad Alhamou, 1986 in Damaskus geboren, verheiratet und habe
          eine Tochter.
          <br />
          Hat einen Bachelor-Abschluss in Design der Fakultät für Studium Kunst
          in Damaskus,
          <br />
          Neben dem Besuch von Instituten, die auf Grafikdesign und Werbedesign
          spezialisiert sind, ich arbeite heute bei Firme ANG als full stack web
          Entwickler.
          <br />
          Ich habe seit fünf Jahren eine Leidenschaft für das Programmieren und
          ich habe viele Sites von null bis zehn erstellt.
          <br />

          Ich liebe es, alles über das Programmieren zu lernen, ich habe viel
          Leidenschaft und Begeisterung für mehr Experimente in diesem Bereich,
          ich strebe danach, so viele Sprachen wie möglich zu lernen,
          <br />
          Momentan lerne ich Java, was eine große Herausforderung ist, zumal es
          eine der größten und schwierigsten Programmiersprachen ist, aber ich
          liebe jeden Moment, den ich in meiner Leidenschaft verbringe!
        </p>
        <hr />
        <h4>Kenntnisse & Fähigkeiten</h4>
        <p><strong>Management Summary </strong></p>
        <p>
          Als Softwareentwickler konnte ich mir in bisherigen Projekten ein
          breites Fachwissen aneignen. Der Schwerpunkt meiner Arbeit lag dabei
          in der Webentwicklung und der Gestaltung von Benutzeroberﬂächen.
        </p>
        <p>
          Weiterhin konnte ich mir Know-How im Bereich der Erstellung und
          Modellierung von Datenbanken aneignen und Erfahrungen in der Arbeit
          mit agilen Arbeitsmethoden sammeln.
        </p>
        <p>
          Persönlich kennen mich meine Kollegen als Team-Player , der sich
          schnell in bestehende Projekte integriert. Ich bin neuen Technologien
          gegenüber aufgeschlossen und arbeite mich selbständig innerhalb
          kürzester Zeit in neue Themen ein.
        </p>

        <hr />
        <h4>Fachliche Fähigkeiten</h4>
        <p><strong>Fachliche Fähigkeiten </strong></p>
        <p>Erfahrungen in agilen Entwicklungsprojekten (Scrum)</p>
        <ul>
          <li>Css3</li>
          <li>HTML5</li>
          <li>JavaScript ES5 ES6</li>
          <li>Typescript</li>
          <li>Node.js</li>
          <li>Angular</li>
          <li>PHP all Version.</li>
          <li>Php OOP</li>
          <li>RegExp</li>
          <li>Laravel</li>
          <li>Mysql</li>
          <li>MongoDB</li>
          <li>Bootstrap 4</li>
          <li>Jquery all Version.</li>
          <li>Jquery Ajax</li>
          <li>Axios.js</li>
          <li>Nginx</li>
          <li>Git</li>
          <li>Docker</li>
        </ul>
        <p>
          Erfahrung in der Entwicklung mit Datenbanken Erfahrung im Graﬁk-Design
          für Benutzeroberﬂächen Kenntnisse agiler Arbeitsmethoden Kenntnisse im
          Linux-Umfeld
        </p>
        <hr />
        <h4>Ausbildung</h4>
        <p><strong> Studium Kunst </strong></p>
        <p>
          Das Kunst Studium im Überblick. Das Kunst Studium bildet Dich in einem
          der 3 Bereiche Freie Kunst, Bildende Kunst oder Angewandte Kunst aus.
          Es beinhaltet praktische Lehrveranstaltungen, zum Beispiel in Malerei
          und Fotograﬁe, sowie theoretische Inhalte, etwa in Kunstpädagogik oder
          der Analyse von Kunstwerken.
        </p>
      </div>
    </div>
  </div>
  <br />
  <h1>Meine Daten</h1>
  <div id="my_data" class="container">
    <div class="row">
      <div class="d-lg-none  d-sm-block  col-sm-12">
        <div class="myImage2"></div>
      </div>

      <div class="col-lg-3">
        <div class="myImage"></div>
      </div>
      <div class="col-lg-9">
        <div class="info_data">
          <div><span class="info">Name :</span><span>Emad Alhamou</span></div>
          <hr />

          <div>
            <span class="info">Adresse :</span
            ><span>Wendenstr.21, 99086 Erfurt</span>
          </div>
          <hr />

          <!-- <div><span class="info">Tel :</span><span>+49 159 0184 9678</span></div>
              <hr> -->

          <div>
            <span class="info">E-Mail :</span><span>emadalhamo@gmail.com</span>
          </div>
          <hr />

          <div>
            <span class="info">Geburt :</span
            ><span>29.04.1986, Damaskus (Syrien)</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br /><br />

  <div id="about_me" class="about_me">
    <div class="container">
      <h1>Meine Projekte</h1>
      <div class="row project_count">
        <div class="col-md-4">
          <div
            class="project_img"
            style="background-image: url('http://207.154.251.188:8080/icons/b7r.svg');"
          ></div>
        </div>
        <div class="col-md-8 proj_body">
          <p>2018 Mai - 2019 April</p>
          <h5>Entwicklung eines webbasierten Wörterbuches.</h5>
          <p class="proj_title">
            Herr Alhamou war im Projekt mit der Anforderungsanalyse und Planung
            von Funktionen anhand gegebener Anforderungen betraut. Im Rahmen
            dessen erfolgte das Design und die Umsetzung der Benutzeroberﬂäche.
            Darauf folgte die Implementierung der Funktionen sowie die
            Erstellung und Modellierung der Datenbank. Die Konﬁguration des
            Webservers, das Durchführen von Tests und das Bugﬁxing gehörten
            ebenfalls zu seiner Arbeit. Die Dokumentation rundete sein
            Aufgabengebiet ab.
          </p>
          <ul>
            <li>Anforderungsanalyse</li>
            <li>Planung von Funktionen anhand gegebener Anforderungen</li>
            <li>Design und Umsetzung der Benutzeroberﬂäche</li>
            <li>Implementierung der Funktionen</li>
            <li>Erstellung und Modellierung der Datenbank</li>
            <li>Konﬁguration des Webservers</li>
            <li>Durchführung von Tests</li>
            <li>Bugﬁxing</li>
            <li>Dokumentation</li>
          </ul>

          <p>
            <strong>Umgebung:</strong> Linux Ubuntu, PHP , HTML, CSS,
            JavaScript, Node.JS, MongoDB, jQuery , Nginx, RESTful Webservices,
            Angular
          </p>
          <a
            target="_blank"
            class="btn btn-light"
            href="http://207.154.251.188:8080"
            >Visit Project</a
          >
        </div>
      </div>
      <br />
      <div class="row project_count">
        <div class="col-md-4">
          <div
            class="project_img"
            style="background-image: url('/assets/images/project-1.jpg');"
          ></div>
        </div>
        <div class="col-md-8 proj_body">
          <p>2017 August - 2018 April</p>
          <h5>Entwicklung einer Plattform für Kleinanzeigen.</h5>
          <p class="proj_title">
            In diesem Projekt beschäftigte Herr Alhamou sich mit der Aufnahme
            von Anforderungen und plante neue Funktionen. Außerdem war er für
            die Datenbankmodellierung, sowie das Design und die Umsetzung der
            GUI verantwortlich. Die Implementierung der Funktionen, das
            Entwickeln der Datenbankschnittstellen und die Umsetzung von Tests
            gehörten ebenfalls zu seinem Aufgabengebiet. Die Dokumentation
            rundete seine Arbeit ab.
          </p>
          <ul>
            <li>Aufnahme von Anforderungen</li>
            <li>Planung neuer Funktionen</li>
            <li>Datenbankmodellierung</li>
            <li>Design und Umsetzung der GUI</li>
            <li>Implementierung der Funktionen</li>
            <li>Entwicklung von Datenbankschnittstellen</li>
            <li>Umsetzung von Tests</li>
            <li>Dokumentation</li>
          </ul>

          <p>
            <strong>Umgebung:</strong> Node.JS, MongoDB, JavaScript, jQuery ,
            Bootstrap, HTML, CSS, Nginx
          </p>
          <a target="_blank" class="btn btn-light" href="https://eg.alspt.com"
            >Visit Project</a
          >
        </div>
      </div>
      <br />
      <div class="row project_count">
        <div class="col-md-4">
          <div
            class="project_img"
            style="background-image: url('/assets/images/project-2.jpg');"
          ></div>
        </div>
        <div class="col-md-8 proj_body">
          <p>2017 Januar - 2017 Juli</p>
          <h5>Entwicklung einer Webplattform.</h5>
          <p class="proj_title">
            Im Rahmen des Projektes war Herr Alhamou für die Bedarfsanalyse und
            Erstellung der Datenbank zuständig. Er war betraut mit der Planung
            der Benutzeroberﬂäche, sowie dem Design und der Implementierung der
            GUIElemente. Er entwickelte die benötigten Funktionen, testete die
            Plattform und dokumentierte schlussendlich seine Arbeiten.
          </p>
          <ul>
            <li>Bedarfsanalyse</li>
            <li>Erstellung der Datenbanken</li>
            <li>Planung der Benutzeroberﬂäche</li>
            <li>Design und Implementierung der GUI-Elemente</li>
            <li>Entwicklung benötigter Funktionen</li>
            <li>Test der Plattform</li>
            <li>Dokumentation</li>
          </ul>

          <p>
            <strong>Umgebung:</strong> PHP , Oracle MySQL, jQuery , JavaScript,
            HTML, CSS, Bootstrap
          </p>
          <a target="_blank" class="btn btn-light" href="https://dmk5fef.com"
            >Visit Project</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
