<nav class="home_nav">
  <div class="container">
      <ul>
          <li><a href="#about_me">About me</a></li>
          <!-- <li>Brand <i class="fa fa-sort-desc" aria-hidden="true"></i>
            <ul class="branch">
              <li>One 1 One 1 One 1</li>
              <li>One 1 One 1 One 1</li>
              <li>One 1 One 1 One 1</li>
            </ul>
          </li> -->
         
          <li class="brand"><a href="#contact_me">Contact me </a> <i class="fa fa-user" aria-hidden="true"></i>
          </li>
        </ul>
  </div>
</nav>

<div class="home_bg">
  <div class="home_title image">
      <h1>My Resume</h1>
      <p>Read about me some info</p>
  </div>
</div>
<div class="home_info">
    <div id="about_me" class="info_data">
        <div class="container">
            <h1>About me</h1>
          <div class="">
              <p>
                  I am Emad Alhamou, born in Damascus, in 1986, Married, and have one daughter.
                  <br>
                  Holds a Bachelor degree in Design from the Faculty of Fine Arts in Damascus,
                  <br>
                  In addition to attending institutes specializing in graphic design and advertising design, I am currently working in the field of design in Germany with a major company (Zalando)
                  <br>
                  I can work professionally on Adobe programs in general, including: Photoshop, Illustrator, Premiere, After Effect, and more ..
                  <br>
  
                  I have a passion for programming from three years now, and I have built three sites from zero to ten.
                  <br>
                  
  
                  I love learning all about programming, I have a lot of passion and enthusiasm for more experiments in this field, I aspire to learn as many languages as possible,
                  <br>
                  Currently I am learning java, which is a great challenge, especially since it is one of the biggest and most difficult programming languages, but I love every moment I spend in my passion!
  
              </p>
          </div>
        </div>
    </div>
    <br>
    <h1>My Data</h1>
    <div id="my_data" class="container">
      <div class="row">
          <div class="d-lg-none  d-sm-block  col-sm-12">
              <div class="myImage2"></div>
          </div>


          <div class="col-lg-3">
              <div class="myImage"></div>
          </div>
        <div class="col-lg-9">
            <div class="info_data">
              <div><span class="info">Name :</span><span>Emad Alhamou</span></div>
              <hr>
      
              <div><span class="info">Address :</span><span>Wendenstr.21, 99086 Erfurt</span></div>
              <hr>
      
              <!-- <div><span class="info">Tel :</span><span>+49 159 0184 9678</span></div>
              <hr> -->
      
              <div><span class="info">E-Mail :</span><span>emadalhamo@gmail.com</span></div>
              <hr>
      
              <div><span class="info">Birth :</span><span>29.04.1986, Damaskus (Syrien)</span></div>
      
            </div>
        </div>
        
      </div>
    </div>



    <br><br>

    <div id="about_me" class="info_data">
        <div class="container">
          <h1>My Projects</h1>
          <div class="row project_count">
              <div class="col-md-4">
                  <div class="project_img" style="background-image: url('/assets/images/project-1.jpg');">
                  </div>
              </div>
              <div class="col-md-8 proj_body">
                <h3>Souq Alspt</h3>
                <p class="proj_title">
                  Saturday Market is an e-mini advertising platform that offers sellers the opportunity to advertise their products and services under a large number of departments, as well as buyers who have the opportunity to search for their needs and communicate directly with sellers to buy advertised products and services.                </p>
                  <a target="_blank" class="btn btn-light" href="https://eg.alspt.com">Visit Project</a>
                </div>
          </div>
<br>
          <div class="row project_count">
              <div class="col-md-4">
                  <div class="project_img" style="background-image: url('/assets/images/project-2.jpg');">
                  </div>
              </div>
              <div class="col-md-8 proj_body">
                <h3>Sense of Humour</h3>
                <p class="proj_title">
                  Sense of Humour, Comedy, joy, laughter and happiness, The first English site where you can publish your Joke
                </p>
                <a target="_blank" class="btn btn-light" href="https://dmk5fef.com">Visit Project</a>
              </div>
          </div>
<br>
          <div class="row project_count">
              <div class="col-md-4">
                  <div class="project_img" style="background-image: url('/assets/images/project-3.jpg');">
                  </div>
              </div>
              <div class="col-md-8 proj_body">
                <h3>Qamus Alhamou </h3>
                <p class="proj_title">
                        Features that are inside (Dictionary of Inhibit),dictionary from Arabic to 7 languages, Example of each word within 20 for a different language, Search within the examples, There is a keyboard inside the dictionary for characters that are not available to the user
                        , The site supports the interface of smart phones.
                </p>
                <a target="_blank" class="btn btn-light" href="https://github.com/Alhamou/dict">Visit Project</a>
              </div>
          </div>
        </div>
    </div>

    
</div>
